.homePage {
  display: flex;
  height: 100%;
  gap: 100px;
  align-items: center;

  .left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    text-align: center;

    h1 {
      font-size: 100px;
      background: linear-gradient(to right, #217bfe, #e55571);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    h3 {
      font-weight: 250;
      max-width: 85%;
    }

    a {
      padding: 15px 25px;
      background-color: #217bfe;
      border-radius: 20px;
      color: white;
      font-size: 14px;
      margin-top: 20px;

      &:hover {
        background-color: white;
      color: #217bfe;
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .imgContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #140e2d;
      border-radius: 50px;
      width: 85%;
      height: 60%;
      position: relative;

      .bgContainer {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50px;

        .bg {
          background-image: url("/bg.png");
          /* opacity: 0.2;
          width: 200%;
          height: 100%; */
          background-size: auto 100%;
          animation: 8s ease-in-out infinite alternate slideBg;
        }
      }

      .bot {
        width: 80%;
        height: 10%;
        object-fit: contain;
        animation: 3s ease-in-out infinite alternate botAnimation;
      }
    }
  }

  .orbital {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.20;
    animation: 100s linear infinite alternate rotateOrbital;
  }
}

@keyframes rotateOrbital {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(60deg);
  }
}

@keyframes botAnimation {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1.1) rotate(-10deg);
  }
}

@keyframes slideBg {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10%);
  }
}