.homePage {
  display: flex;
  height: 100%;
  gap: 100px;
  align-items: center;

  .left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    text-align: center;

    h1 {
      font-size: 100px;
      background: linear-gradient(to right, #217bfe, #e55571);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    h3 {
      font-weight: 250;
      max-width: 85%;
    }

    a {
      padding: 15px 25px;
      background-color: #217bfe;
      border-radius: 20px;
      color: white;
      font-size: 14px;
      margin-top: 20px;

      &:hover {
        background-color: white;
      color: #217bfe;
      }
    }
  }

  .right {
    flex: 1
  }
}